.title{
font-family: nyala, arial;
font-size: 30px;
background-color: rgb(27, 103, 188);
margin: -40px -40px -40px -40px;
color: rgb(204, 277, 244);
}

.hr1{
	border: 5px double rgb(27, 91, 156);
}

.d1{
	background-color: rgb(36, 116, 199);
}

.p{font-family: gill sans mt ,times new roman;
font-size: 24px;
}

.p2{
	font-size: 32px;
	font-family: nyala, arial;
	color: rgb(204, 277, 244);
	margin: -8px -8px -8px -8px
}